<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello</title>
</head>
<body>
<h1>Hello</h1>
Count: {{ count }}<br>

<p><b>Default Queue</b></p>
<form method="post" action="{{ url_for('hello.enqueue') }}">
  <label>Increment amount</label>
  <input name="amount" value="1">
  <button>Enqueue task</button>
</form>

<p><b>Custom Queue</b></p>
<form method="post" action="{{ url_for('hello.custom_enqueue') }}">
  <label>Increment amount</label>
  <input name="amount" value="1">
  <button>Enqueue task</button>
</form>

</body>
</html>
